body {
  margin: 50px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  i {
    font-weight: 800;
    font-size: 48px;
  }

  .navigation-wrapper {
    padding-bottom: 50px;
  }
}